.Expense-item-main {
  display: flex;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 10px black;
  flex-wrap: wrap;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  margin: 15px;
}

.Expense-item-date {
  flex: 0.14;
  text-align: center;
  border-radius: 10px;
  border: 3px solid purple;
}
.Expense-item-date h3:nth-child(2) {
  font-size: 2em;
}
.Expense-item-date h3 {
  margin: 15px;
}

.Expense-item-details {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0px 30px;
  color: white;
  font-size: 1.2rem;
}

.Expense-item-price {
  padding: 20px 40px;
  border-radius: 10px;
  border: 3px solid purple;
}

.Expense-item-price:hover {
  border: 3px solid white;
}

@media screen and (min-width: 350px) and (max-width: 562px) {
  .Expense-item-main {
    display: flex;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    align-items: center;
  }

  .Expense-item-date {
    width: 100%;
    flex: 1;
    display: flex;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid purple;
  }
  .Expense-item-date h3:nth-child(2) {
    font-size: 1.5em;
  }
  .Expense-item-date h3 {
    flex: 1;
    justify-content: space-evenly;
  }

  .Expense-item-details {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0px 0px 0px 25px;
    color: white;
    font-size: 1.2rem;
  }

  .Expense-item-details h2 {
    font-size: 1.1rem;
  }

  .Expense-item-price {
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid purple;
  }

  .Expense-item-price:hover {
    border: 3px solid white;
  }
}
